:root {
  --primary-color: #000000;   /* Black */
  --secondary-color: #ffd900; /* Gold */
  --background-color: #7f7a7a; /* Updated Background Color */
  --accent-color: #f5f5db;     /* Light Gold */
  --text-color: #040316;
  --nav-background-color: #7f7b7b; /* Navigation background color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  background-color: var(--nav-background-color);
  color: var(--text-color);
  padding: 1em;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5em 1em;
}

nav a:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

section {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2em;
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
